.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.encloser{
    padding: 50px 200px 0 200px;
}

.containerForMap{
	width: 100%;
	height: 100%;

}

.custom-dialog{
	width: 90vw;    /* Occupy the 90% of the screen width */
	max-width: 90vw;
	height: 90vw;
	max-height: 90vw !important;
}

/* width:80% !important; 
	top:10%;
	height: 60% !important; */ 